@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: var(--font-sans);
  min-height: 100vh;
  overflow-x: hidden;
}

/* Scrollbar estilo Spotify */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #282828;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3e3e3e;
}